<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clients</title>
    <link rel="stylesheet" href="../../resources/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../resources/css/admin.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>

<body>
    <main>
     <!-- Título del contenido principal -->
     <h3 class="text-center py-3">Customer Management</h3>
     <div class="row">
         <!-- Formulario de búsqueda -->
         <form class="col-sm-12 col-md-6" id="searchForm">
             <div class="row">
                 <div class="col-6">
                     <input type="search" class="form-control" name="search" placeholder="Search" required>
                 </div>
                 <div class="col-6">
                     <button type="submit" class="btn btn-success">
                         <i class="bi bi-search"></i>
                     </button>
                     <button type="reset" class="btn btn-secondary" onclick="fillTable()">
                         <i class="bi bi-x-square-fill"></i>
                     </button>
                 </div>
             </div>
         </form>
         <div class="col-sm-12 col-md-6 text-end">
             <!-- Botón para abrir una caja de diálogo al momento de crear un nuevo registro -->
             <button type="button" class="btn btn-primary" onclick="openCreate()">
                 <i class="bi bi-plus-square-fill"></i>
             </button>
         </div>
     </div>
        <!-- Tabla para mostrar los registros existentes -->
        <table class="table table-hover">
            <!-- Encabezado de la tabla para mostrar la cantidad de registros y los títulos de las columnas -->
            <thead>
                <tr>
                    <td colspan="3" id="rowsFound"></td>
                </tr>
                <tr>
                    <th>NAME</th>
                    <th>EMAIL</th>
                    <th>ACTION</th>
                </tr>
            </thead>
            <!-- Cuerpo de la tabla para mostrar un registro por fila -->
            <tbody id="tableBody"></tbody>
        </table>
        <!-- Modal Form-->
        <div class="modal fade" id="saveModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalTitle"></h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <!-- Formulario para guardar un registro -->
                    <form id="saveForm">
                        <div class="modal-body row g-3">
                            <!-- Campo oculto para asignar el id del registro al momento de modificar -->
                            <input type="number" class="d-none" id="idCliente" name="idCliente">
                            <div class="col-sm-12 col-md-6">
                                <label for="nombreCliente" class="form-label">Name</label>
                                <input id="nombreCliente" type="text" name="nombreCliente"
                                    class="form-control" required>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <label for="apellidoCliente" class="form-label">Surname</label>
                                <input id="apellidoCliente" type="text" name="apellidoCliente"
                                    class="form-control" required>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <label for="emailCliente" class="form-label">Email</label>
                                <input id="emailCliente" type="email" name="emailCliente"
                                    class="form-control" required>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <label for="claveCliente" class="form-label">Password</label>
                                <input id="claveCliente" type="password" name="claveCliente"
                                    class="form-control">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>

    <script src="../../resources/js/sweetalert.min.js"></script>
    <script src="../../controllers/utils/components.js"></script>
    <script src="../../controllers/utils/admin.js"></script>
    <script src="../../resources/js/bootstrap.bundle.min.js"></script>
    <script src="../../controllers/admin/cliente.js"></script>
</body>

</html>