<!doctype html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
    <!-- Llamada a las hojas de estilos del framework e iconos -->
    <link href="../../resources/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../resources/css/admin.css" rel="stylesheet">
</head>

<body>

    <header></header>

    <main>
        <div class="container text-center p-3">
            <h1 class="display-2">Administration Center</h1>
            <img src="../../resources/img/dashboard-image.png" alt="logo">
        </div>
    </main>


    <script src="../../resources/js/bootstrap.bundle.min.js"></script>
    <script src="../../resources/js/sweetalert.min.js"></script>
    <script src="../../controllers/utils/components.js"></script>
    <script src="../../controllers/utils/admin.js"></script>
    <script src="../../controllers/admin/land_page.js"></script>
    <script src="../../resources/js/bootstrap.bundle.min.js"></script>
</body>

</html>